<h1>Bonjour!</h1>

<p>Pour modifier votre mot de passe, merci d'utiliser le lien suivant</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Cordialement,</p>
<p>Le Motocross Auribail Club.</p>
