{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<div class='container-fluid'></div>
    <div class='row col-sm-6 col-md-8 justify-content-center mx-auto shadText mt-5'>
    
        <h3>Modifier mon mot de passe</h3>
    </div>
        <div class="row col-xs-3 col-md-6 justify-content-center mt-5 mx-auto bg-secondary py-3">
        {{ form_start(requestForm) }}
            {{ form_widget(requestForm.email, {'attr': {'placeholder': 'Votre adresse mail ... ', 'class' : 'my-2'}}) }}
        <div>
            <small>
                Renseignez votre adresse mail et vous recevrez un message contenant un lien de modification de votre mot de passe.
            </small>
        </div>
        <div class="col text-center mt-3">
            <button class="btn btn-primary">Recevoir l'email de vérification</button>
        </div>
    {{ form_end(requestForm) }}
    </div>
{% endblock %}
