{% extends 'base.html.twig' %}

{% block title %}Bienvenue ! {% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center opacity-3">

        <div class="col-lg-5 col-md-12 text-white text-center">
            <h1 class="display-4">Bienvenue !</h1>
            <h3 class="h3">Notre passion, la Motocross</h3>
            <h3 class="h3">Notre devise satiété et productivité</h3>
        </div>
        {% include "components/session.html.twig" %}
    </div>
</div>


{% include "components/footer.html.twig" %}
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="scripts.js"></script>
{% endblock %}