{% extends 'base.html.twig' %}

{% block title %}Bienvenue ! {% endblock %}

{% block body %}
{% for message in app.flashes('error') %}
<div class="alert alert-danger">
    {{ message }}
</div>
{% endfor %}
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
<div class="container mt-5">
    <div class="row justify-content-center opacity-3">

            <div class="col-lg-5 col-md-5 text-white text-center shadText">
                <h1 class="display-4 ">Bienvenue !</h1>
                <h4>Notre passion, la Motocross</h4>
                <h4>Notre devise satiété et productivité</h4>
            </div>
            {% include "components/session.html.twig" %}
        </div>
    </div>
</div>


{% include "components/footer.html.twig" %}
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="scripts.js"></script>
{% endblock %}