{% extends "base.html.twig" %}

{% block title %}Les prochains entraînements
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row justify-content-center">
      {% for session in nextSessionsInfo %}
        {% include "components/session.html.twig" with {
          'nextSession' : session
        }
        only %}
      {% endfor %}
    </div>
  </div>

{% endblock %}
