<footer>
    <div class="row mt-2 pt-0 bg-dark dfooter mx-0 px-4">
        <div  class="pl-2 justify-content-start mr-auto">
        <p id='copyright' class='align-text-center mt-3'>Copyright Team Cerise 2021&#169;</p>
        </div>
            <div class="justify-content-end pt-3 dmfooter">
            
                
                    <a href="https://fr-fr.facebook.com/auribail.motosport" target="_blank"
                        class="col-2 col-lg-1 ">
                        {# <span class="material-icons-outlined facebook-outlined grow">facebook</span> #}
                        <i class="fab fa-facebook fa-2x grow"></i>
                    </a>
                
                
                    <a href="https://www.waze.com/ul?ll=43.3414306641%2C1.3549046516&amp;navigate=yes&amp;zoom=17"
                        target="_blank" class="col-2 col-lg-1">
                        <i class="fab fa-waze fa-2x grow"></i>
                    </a>
               
                    <a href="https://maps.google.com/maps/search/?api=1&amp;query=43.3414306641,1.3549046516"
                        target="_blank" class="col-2 col-lg-1">
                        <i class="fas fa-map-marked-alt fa-2x grow"></i>
                    </a>
                

        </div>
    </div>
    </div>
</footer>