
<footer>
<div class="navbar navbar-expand-lg mt-5 bg-dark">
    <div class="row col mx-px-0 ">
        <div class='col-3 h7 mt-2 mr-auto'>
            <p>Copyright Team Cerise 2021&#169;</p>
        </div>

    <div class="collapse navbar-collapse text-right">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item  col-sm-12 col-md-auto grow">
                <a href="https://fr-fr.facebook.com/auribail.motosport" target="_blank" class="nav-item col-2 col-lg-1" >
                    {# <span class="material-icons-outlined facebook-outlined grow">facebook</span> #}
                    <span class="material-icons-outlined">facebook</span>
                </a>
            </li>
            <li class="nav-item  col-sm-12 col-md-auto grow">
                <a href="https://www.waze.com/ul?ll=43.3414306641%2C1.3549046516&amp;navigate=yes&amp;zoom=17"
                    target="_blank" class="col-2 col-lg-1">
                    <i class="fab fa-waze fa-2x"></i>
                </a>
            </li>
            <li class="nav-item  col-sm-12 col-md-auto grow">
                <a href="https://maps.google.com/maps/search/?api=1&amp;query=43.3414306641,1.3549046516"
                    target="_blank" class="col-2 col-lg-1">
                    <span class="material-icons-outlined">map</span>
                </a>
            </li>

        </div>
</div>
        





</footer>

