{# {% extends 'base.html.twig' %} #}

{% block title %}Hello GeneratePhpController!{% endblock %}

{% block body %}
<pre>
    
    {% for user in session.user|sort((a, b) => a.roles <=> b.roles)|column('roles') %}
        <p>{{user.email}}, {{user.lastName}}, {{user.firstName}}</p>
    {% endfor %}
</pre>
{% endblock %}
