{% extends 'base.html.twig' %}

{% block title %}Mon compte MC Auribail{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
    
    </div>
</div>
{% for session in sessions %}
    

    {% set difference = date("now").diff(date(session.date)) %}

    {% if difference.invert == 1 %}
    <p>J'ai participé à {{session.title | lower}} le {{session.date | date ('d/m/Y')}}</p>
    {% else %}
    <p>Je vais participer à {{session.title | lower}} le {{session.date | date ('d/m/Y')}}</p>
    
    {% endif %}

{% endfor %}
{% endblock %}
